<!DOCTYPE html>
<html>
  <head>
    <title>Classificados JL</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('logo.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <p>
      <%= flash.notice %>
      <%= flash.alert %>
    </p>

    <nav>
      <% if user_signed_in? %>
        <%= button_to t("menu.logout"), sign_out_sessions_path, method: :delete %>
        <%= link_to t("menu.new_ad"), new_ad_path %>
      <% else %>
        <%= link_to t("menu.signup"), new_user_path %>
        <%= link_to t("menu.signin"), new_session_path %>
      <% end %>
    </nav>
    <%= yield %>
    
  </body>
  <footer>
    <p>Desenvolvido por <a href=mailto:jorgelucas77@gmail.com>Jorge Lucas</a></p>
  </footer>
</html>
